main img {
    display: block;
}

@keyframes fadeFromBlack {
    from {
        opacity: 0;
        filter: brightness(0);
    }
    to {
        opacity: 1;
        filter: brightness(1);
    }
}

.fade-in {
    animation: fadeFromBlack 1.5s ease-in-out forwards;
}